@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Roboto:wght@100;300;400;700&display=swap");

html,
body {
  font-size: 62.5%;
}

:root {
  --small-padding: 2rem;
  --standard-padding: 5rem;
  --section-margin: 15rem;
  --primary-text-black: #363636;
  --secondary-text-gray: rgb(78, 78, 78);
}

.container {
  padding: 0 clamp(2.4rem, 10vw, 24rem);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.8;
  color: var(--primary-text-black);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: clamp(6rem, 7vw, 9rem);
}

h2 {
  font-size: clamp(5rem, 5.5vw, 6.5rem);
}

h3 {
  font-size: clamp(4.5rem, 5vw, 6rem);
}

h4 {
  font-size: clamp(4rem, 4.5vw, 5.5rem);
}

h5 {
  font-size: clamp(3.5rem, 4vw, 5.5rem);
}

h6 {
  font-size: clamp(2.5rem, 3vw, 3rem);
}

button,
p,
.p {
  font-size: 1.8rem;
}
::-webkit-scrollbar {
  width: 0px;
}

button {
  color: var(--primary-text-black);
}

.line-height-normal {
  line-height: 1.2;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.text-white {
  color: white;
}

.text-black {
  color: var(--primary-text-black);
}

.text-gray {
  color: var(--secondary-text-gray);
}

.standard-padding {
  padding: 0 var(--standard-padding);
}

.standard-margin-top {
  margin-top: var(--standard-padding);
}



.small-margin {
  margin-top: var(--small-padding);
}

.secondary-font {
  font-family: "Cormorant Garamond", serif;
}

.font-normal {
  font-weight: 400;
}
.font-light {
  font-weight: 100;
}

.button {
  padding: 2rem 5rem;
  border: none;
  transition: all 0.2s ease;
  background-color: white;
}

.border-button {
  padding: 2rem 5rem;
  transition: all 0.2s ease;
  border: 1px solid rgba(77, 77, 77, 0.516);
  background-color: white;
}

.small-button {
  padding: 0.5rem 6rem;
  background-color: white;
  border: 1px solid rgba(77, 77, 77, 0.516);
  transition: all 0.2s ease;
}

.button-dark {
  padding: 2rem 5rem;
  background-color: var(--primary-text-black);
  color: white;
  transition: all 0.2s ease;
  border: none;
}

.small-button:hover,
.border-button:hover,
.button:hover {
  background-color: white;
  transform: translateY(-3px);
  cursor: pointer;
}

.button-dark:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.button-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.section-margin {
  margin-top: var(--section-margin);
}

.font-weight-normal {
  font-weight: 400;
}

/* Nav */
nav {
  padding: var(--small-padding) 0;
  position: relative;

}

nav p:hover {
  cursor: pointer;
}

.nav__logo {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}

.nav__break {
  color: rgba(233, 233, 233, 0.449);
}

/* menu */
.menu {
  position: absolute;
  list-style-type: none;
  background-color: white;
  padding: 0 clamp(2.4rem, 10vw, 24rem);
  height: 100vh;
  padding-top: var(--standard-padding);
  z-index: 1000;
}

.menu p:hover {
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.shopping-cart:hover {
  background-color: transparent;
}

.shopping-cart__qty {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-text-gray);
  border-radius: 50%;
  font-size: 1.5rem;
  position: absolute;
  top: -50%;
  left: 60%;
}

.cart {
  position: fixed;
  left: 20%;
  width: 80%;
  background-color: white;
  top: 0%;
  height: 100%;
  padding-top: var(--small-padding);
  z-index: 1000;
  padding: 0 clamp(2.4rem, 10vw, 24rem);
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5rem;
  overflow: scroll;
}

.cart__details {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

.hero__img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.085), rgba(0, 0, 0, 0.036)),
    url(../public/img/banner.jpg);

  max-width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
}

/*HEADER*/
.header-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__text {
  font-family: "Cormorant Garamond", serif;
  display: inline-block;
  text-align: center;
  line-height: 1.2;
}

/*Products*/
.product__heading {
  font-weight: 300;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  margin-bottom: var(--small-padding);
}

.product img {
  padding-right: 2rem;
  pointer-events: none;
  margin-bottom: var(--small-padding);
}

.product__button {
  text-align: center;
  padding-top: var(--standard-padding);
}

.product p {
  font-weight: 400;
}

.inner-carousel {
  display: flex;
}
.carousel {
  cursor: grab;
  overflow: hidden;
}

/* Product page */
.product__image {
  width: 100%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2rem;
}

.product__small {
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 2rem 0.25rem;
  border-radius: 20px !important;
}

.product__title {
  font-family: "Cormorant";
  font-weight: 300;
}

.product__small:hover {
  transform: scale(1.05);
}

.product__size {
  padding: 0 2rem;
  font-weight: 600;
}

.product__size:hover {
  cursor: pointer;
  color: gray;
}

.product__details {
  display: flex;
  flex-direction: column;
}

.product__reviews {
  margin-top: 1rem;
}

.product__reviews p {
  display: inline-block;
  margin-left: 1rem;
}

.product__qty {
  justify-content: space-around;
  margin-top: var(--small-padding);
}

.product__qty p {
  border: 1px solid rgba(77, 77, 77, 0.516);
  flex-grow: 1;
  text-align: center;
  font-size: 2rem;
  color: var(--secondary-text-gray);
}

.product__qty p:not(:nth-of-type(2)) {
  cursor: pointer;
}

.products-container {
  display: grid;
}

/* cart product */
.cart-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
}

.cart-product__total {
  font-size: 2.5rem;
}

.cart-product__checkout {
  flex-direction: column;
}
.images {
  width: 320px;
  height: 380px;
}

/* intro */
.intro__image {
  width: 100%;
}

.intro__text {
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 65rem) {
  .nav {
    display: none;
  }
  .header-wrapper {
    width: 100vw;
  }
}

@media only screen and (min-width: 65rem) {
  .nav__menu {
    display: none;
  }

  .cart {
    width: 50%;
    left: 50%;
  }

  .products-container {
    grid-template-columns: 1fr 1fr;
    gap: 0 5rem;
  }

  .nav__logo {
    position: absolute;
    top: 4.8px;
    text-align: center;
    width: 80vw;
  z-index:1;
  }

  nav p{
    position: relative;
    z-index:1000;
  }

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .intro__text{
    margin-left: 20rem;
  }
}
